---
layout: default
---
![1606834149190](https://user-images.githubusercontent.com/56164294/112765713-6f6e2a80-8fdc-11eb-85a4-09c276abe41c.jpeg)

<div class="Welcome">
{% extends default %}
{% block sidebar %}
Welcome to my personal website, where you can learn all about my experiences as a lawyer, professor, entrepreneur and writer! I am Jordan Fischer, a lawyer, professor, entrepreneur and writer. I love working on a wide variety of projects, and you can find out more about my many fun and exiting projects here. You can also learn about my entrepreneurship journey, and my research into balancing work, life, and fun! 
{% endblock %}
</div>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
